.welcomeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    opacity: 0; 
    transform: translateY(50px); 
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  
    &.visible {
      opacity: 1; 
      transform: translateY(0); 
    }
  
    &.hidden {
      opacity: 0;
      transform: translateY(50px); 
    }
  
    h1 {
      font-size: 2.5rem;
      transition: letter-spacing 0.3s ease-in-out;
      letter-spacing: 0.2rem;
  
      &::selection {
        color: var(--primary-color);
        background-color: var(--tri-color);
      }
  
      &:hover {
        letter-spacing: 0.25rem;
        color: var(--tri-color);
        transition: letter-spacing 500ms ease-in-out, color 500ms ease-in-out;
      }
    }
  
    h2 {
      font-size: 1.5rem;
      font-style: italic;
      font-weight: lighter;
    }
  
    h1,
    h2, h3 {
      margin: 0.5rem;
    }

    h3 {
        padding-bottom: 1rem;
    }
  
    img {
      border-radius: 50%;
      height: 50svh;
      opacity: inherit; 
      transition: inherit; 
      box-shadow: 10px 5px 15px var(--primary-color), -10px -5px 15px var(--tri-color);}  }
  